---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: python-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: python-app
  template:
    metadata:
      labels:
        app: python-app
    spec:
      containers:
      - name: python-app
        image: pascaleduardmihai/python-app:latest
        imagePullPolicy: Always
        env:
        - name: DB_HOST
          value: "postgres"
        - name: DB_NAME
          value: "testdb"
        - name: DB_USER
          value: "pmihai"
        - name: DB_PASS
          value: "parola123"
        ports:
        - containerPort: 5000
---
apiVersion: v1
kind: Service
metadata:
  name: python-app-service
spec:
  type: NodePort
  selector:
    app: python-app
  ports:
  - port: 5000
    targetPort: 5000
    nodePort: 30001p
