name: Build and Push Docker Image

on:
  push:
    branches: [ main ]  # Activates when we merge on main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout cod
        uses: actions/checkout@v3

      - name: Login la Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push
        uses: docker/build-push-action@v4
        with:
          context: ./app  # Folder for app.py and Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/python-app:latest
